<p-toolbar>
  <div class="ui-g">
    <div class="ui-g-6 ui-g-nopad">
      <button type="text" (click)="display = true" pButton icon="pi pi-bars"
        class="ui-button-rounded ui-button-danger"></button>
    </div>
    <div class="ui-g-6">{{ title }}</div>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="display" [style]="{width:'15em'}" dismissible="false">
  <p-menu [model]="items" [style]="{'width':'13em'}" (click)="desactivarMenu()"></p-menu>
</p-sidebar>

<p-fieldset legend="PRINCIPAL">
  <p-messages [(value)]="mensajeValidacion" [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'100ms'"></p-messages>
  <p-messages [(value)]="mensajeError" [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'100ms'"></p-messages>
  <router-outlet></router-outlet>
</p-fieldset>